<div id="page-wrapper">

	<!-- Header -->
	<div id="header-wrapper">
		<header id="header" class="container">

			<!-- Logo -->
			<div id="logo">
				<h1><a href="/">CountSwift</a></h1>
				<span>by <a href="https://twitter.com/olearycrew">@olearycrew</a></span>
			</div>

		</header>
	</div>

<div id="vue-app">
	<!-- Banner -->
	<div id="banner-wrapper" v-if="waiting">
		<div id="banner" class="box container">
			<div class="row">
				<div class="col-7 col-12-medium">
					<h2>Countdown to [[upcomingAlbum.name]]</h2>
					<p>[[upcomingAlbum.formated_date]]</p>
				</div>
				<div class="col-5 col-12-medium">
					<ul>
						<li><a href="#" class="button large icon solid fa-arrow-circle-right">
							...[[upcomingAlbum.fromNow]]
						</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-4 off-4 col-12-medium">
					<a :href="[[upcomingAlbum.link]]" class="image featured"><img :src="[[upcomingAlbum.album_art]]" alt="" /></a>
				</div>
			</div>
		</div>
	</div>

	<!-- Features -->
	<div id="features-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-4 col-12-medium" v-for="(album, index) in albums" :key="index">
					<album :album="album" />
				</div>
			</div>
		</div>
	</div>

	<!-- Main -->
	<div id="main-wrapper">
		<div class="container">
			<div class="row gtr-200">
				<div class="col-4 col-12-medium">

					<!-- Sidebar -->
					<div id="sidebar">
						<section class="widget thumbnails">
							<h3>Interesting stuff</h3>
							<div class="grid">
								<div class="row gtr-50">
									<div class="col-6"><a href="#" class="image fit"><img src="images/pic04.jpg"
												alt="" /></a></div>
									<div class="col-6"><a href="#" class="image fit"><img src="images/pic05.jpg"
												alt="" /></a></div>
									<div class="col-6"><a href="#" class="image fit"><img src="images/pic06.jpg"
												alt="" /></a></div>
									<div class="col-6"><a href="#" class="image fit"><img src="images/pic07.jpg"
												alt="" /></a></div>
								</div>
							</div>
							<a href="#" class="button icon fa-file-alt">More</a>
						</section>
					</div>

				</div>
				<div class="col-8 col-12-medium imp-medium">

					<!-- Content -->
					<div id="content">
						<section class="last">
							<h2>So what's this all about?</h2>
							<p>This is <strong>Verti</strong>, a free and fully responsive HTML5 site template by <a
									href="http://html5up.net">HTML5 UP</a>.
								Verti is released under the <a href="http://html5up.net/license">Creative Commons
									Attribution license</a>, so feel free to use it for any personal or commercial
								project you might have going on (just don't forget to credit us for the design!)</p>
							<p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus. Praesent semper
								bibendum ipsum, et tristique augue fringilla eu. Vivamus id risus vel dolor auctor
								euismod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat. Aliquam luctus mattis
								lectus sit amet phasellus quam turpis.</p>
							<a href="#" class="button icon solid fa-arrow-circle-right">Continue Reading</a>
						</section>
					</div>

				</div>
			</div>
		</div>
	</div>

<!-- END VUE APP -->
</div>

	<!-- Footer -->
	<div id="footer-wrapper">
		<footer id="footer" class="container">
			<div class="row">
				<div class="col-3 col-6-medium col-12-small">

					<!-- Links -->
					<section class="widget links">
						<h3>Random Stuff</h3>
						<ul class="style2">
							<li><a href="#">Etiam feugiat condimentum</a></li>
							<li><a href="#">Aliquam imperdiet suscipit odio</a></li>
							<li><a href="#">Sed porttitor cras in erat nec</a></li>
							<li><a href="#">Felis varius pellentesque potenti</a></li>
							<li><a href="#">Nullam scelerisque blandit leo</a></li>
						</ul>
					</section>

				</div>
				<div class="col-3 col-6-medium col-12-small">

					<!-- Links -->
					<section class="widget links">
						<h3>Random Stuff</h3>
						<ul class="style2">
							<li><a href="#">Etiam feugiat condimentum</a></li>
							<li><a href="#">Aliquam imperdiet suscipit odio</a></li>
							<li><a href="#">Sed porttitor cras in erat nec</a></li>
							<li><a href="#">Felis varius pellentesque potenti</a></li>
							<li><a href="#">Nullam scelerisque blandit leo</a></li>
						</ul>
					</section>

				</div>
				<div class="col-3 col-6-medium col-12-small">

					<!-- Links -->
					<section class="widget links">
						<h3>Random Stuff</h3>
						<ul class="style2">
							<li><a href="#">Etiam feugiat condimentum</a></li>
							<li><a href="#">Aliquam imperdiet suscipit odio</a></li>
							<li><a href="#">Sed porttitor cras in erat nec</a></li>
							<li><a href="#">Felis varius pellentesque potenti</a></li>
							<li><a href="#">Nullam scelerisque blandit leo</a></li>
						</ul>
					</section>

				</div>
				<div class="col-3 col-6-medium col-12-small">

					<!-- Contact -->
					<section class="widget contact last">
						<h3>Contact Us</h3>
						<ul>
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a>
							</li>
							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a>
							</li>
							<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="#" class="icon brands fa-pinterest"><span class="label">Pinterest</span></a>
							</li>
						</ul>
						<p>1234 Fictional Road<br />
							Nashville, TN 00000<br />
							(800) 555-0000</p>
					</section>

				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div id="copyright">
						<ul class="menu">
							<li>&copy; Untitled. All rights reserved</li>
							<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
	</div>

</div>


{{#section 'script'}}

<script type="x-template" id="album-component">
	<section class="box feature">
		<a :href="[[album.link]]" class="image featured"><img :src="[[album.album_art]]" alt="" /></a>
		<div class="inner">
			<header>
				<h2>[[album.name]]</h2>
				<p>Released [[album.formated_date]]</p>
			</header>
		</div>
	</section>
</script>
<script type="application/javascript">

	Vue.component('album', {
		template: '#album-component',
		props: ['album'],
		delimiters: ['[[',']]'],
	});

	var app = new Vue({
		el: '#vue-app',
		delimiters: ['[[',']]'],
		data: {
			waiting: false,
			upcomingAlbum: {},
			albums: [{ name: 'Not found'}]
		},
		created() {
			fetch('/api/v1/albums')
				.then(async (val) => {
					const json = await val.json();
					console.log(json);
					json.forEach(x => {
						const d = dayjs(x.release_date);

						x.formated_date = d.format('YYYY-DD-MM');
						x.fromNow = d.fromNow();
						if (d.isAfter(dayjs())) {
							this.waiting = true;
							this.upcomingAlbum = x;
						}
					});
					this.albums = json;
				})
				.catch(e => console.error(e))
		}
	});
</script>



{{/section}}